* {
    padding: 0%;
    margin: 0%;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

.nombre {
    width: 200;
    height: auto;
    background-color: aqua;
}

/* .container {
    width: 100%;
} */


header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #f5f5f5; 
    font-family: 'Nunito Sans', sans-serif;
    padding-right: 5rem;
    padding-left: 10rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0%;
    max-width: 100%;
    
}

.header__navegacion {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.header__nav {
    color: #2d9c49;
}


li {
    display: inline;
}

.header__logo {
    margin-left: 3rem;
    
    
    
}


.header__telefono {
    display: flex;
    color: #2d9c49;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    }


div p {
    padding-top: 1rem;
}



li a {
    padding: 10px;
    text-decoration: none;
    color: #2d9c49;
    
    
}

/* a:link {  
    color: red;  
    text-decoration: none;}  
a:visited {  
    color: gray;  
    text-decoration: none;}  */ 
a:active {  
    text-decoration: none  
    }  

a:hover {  
    color: #2d9c49;  
    font-size: 18px;
    -ms-zoom-animation: unset;
    font-weight: 700;
    transform: scale(1rem);
    
}  

.icono__telefono {
    size: 2cm;
}

    
.portada {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'Nunito Sans', sans-serif;
    color: #fff;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.portada__contenido {
    display: flex;
    flex-direction: column;
    /* padding-top: 200px;
    padding-bottom: 200px; */
    padding-right: 100px;
    padding-left: 100px;
    z-index: 1;
    align-items: center;
    
}

.portada__conocenos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'Nunito Sans', sans-serif;
    color: #fff;
    justify-content: center;
    align-items: center;
}


.portada__prueba {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-top: -10rem;
    margin-bottom: 3rem;
    color: #fff;
    position: absolute;
    z-index: 1;
}

.portada__titulo {
    text-align: center;
    font-size: 40px;

}

.portada__texto {
    align-items: center;
    font-size: 24px;
}

.portada__icono {
    width: 50px;
    height: 50px;
    align-items: center;
    padding-left: 1rem;
    
}

.portada__parallax {

    background-image: url(../resources/munay-ki.gif) ;
    height: 600px;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom:50px;
    background-size: cover;
    
}

.portada__parallax:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    opacity: 0.5;
    

}

.descripcion {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 2rem;
    padding-bottom: 5rem;
    font-family: 'Nunito Sans', sans-serif;
    color: 050505;
    text-align: center;
    font-size: 30px;
    
}

.iconos {
    display: flex;
    justify-content: center;
    background-color: #2d9c49;
    color: #fff;
    margin: 0%;
    padding-top: 5rem;
    padding-bottom: 3rem;
    }

.iconos__caja {
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.iconos__imagen {
    width: 10px;
    height: 10px;
    
}
.iconos__titulos {
    font-weight: 600;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    line-height: 5px;
    
}

.iconos__descripcion {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #fff;
    

}

.seccion__institucional {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
    padding-right: 8rem;
    padding-left: 6rem;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0%;
}

.seccion__talleres {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
    padding-right: 8rem;
    padding-left: 6rem;
    padding-bottom: 100px;
    margin: 0%;
}

.talleres {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;

}

.institucional__imagen {
    max-width: 35rem;
    max-height: 25rem;
    margin-left: 2rem;
}

.institucional__titulo {
    color: #2d9c49;
    font-weight: 600;
    font-size: 24px

}

.talleres__imagen {
    max-width: 35rem;
    max-height: 25rem;
    margin-right: 2rem;
}

.institucional__texto {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px
    ;
}

.institucional__objetivos {
    display: flex;
    background-color: #f5f5f5;
    padding: 5rem;
}

.talleres__index {
    font-family: 'Nunito Sans', sans-serif;
    margin-left: 2rem;

}

.talleres__texto {
    margin-left: 2rem;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px
    ;
}

.talleres__titulo {
    color: #2d9c49;
    font-weight: 600;
    margin-left: 2rem;
    font-size: 24px
    

}

.caja__titulo {
    color: #2d9c49;
    font-weight: 600;
}

.flecha {
    left: -10rem;
    color: #2d9c49;
    font-weight: 600;
}

.boton {
    background-color: #2d9c49;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif

}

button a {
    background-color: #2d9c49;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
}

button a:hover {
    background-color: #fe1616;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    
}

a:active {  
    text-decoration: none  
    }



.boton__talleres {
    margin-left: 2rem;
    background-color: #2d9c49;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif
    
}

.insitucional_seccion {
    max-width: 35rem;
    max-height: 20rem;
}

.institucion__cuerpo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
    padding-right: 8rem;
    padding-left: 6rem;
    padding-bottom: 100px;
    margin: 0%;
}
.institucional__imagen {
    max-width: 32rem;
    max-height: 64rem;
}

.banner {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #2d9c49;
    color: #fff;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 10rem;
    padding-right: 10rem;
    text-align: center;
}

.centro__seccion {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 5rem;
    font-family: 'Nunito Sans', sans-serif;
    color: 050505;
    text-align: center;
    font-size: 30px;
}

.centro__descripcion {
    color: #575756;
    font-size: 26px;
}

.talleres__seccion {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 5rem;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    font-size: 30px;
}

.talleres__descripcion {
    color: #575756;
    font-size: 26px;
}

.publico {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    background-color: #2d9c49;
    color: #fff;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 10rem;
    padding-right: 10rem;
    text-align: center;
}

.publico__titulo {
    font-weight: 600;
}





.contacto {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Nunito Sans', sans-serif;
    padding: 10rem;
    
    background-color: #f5f5f5
    

}

.contacto__titulo {
    font-size: xx-large;
    color: #2d9c49;
    font-weight: 600;
    
}



.contacto__datos {
    line-height: 3rem;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    

}

.contacto__seccion {
    display: flex;
    flex-direction: column;
    align-items: center;
}



footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #2d9c49;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: 0%;
}

.footer__logo {
    width: 150px;
    height: 150px;

}

.footer__navegacion {
    display: block;
    

}

.footer__nav {
    color: #fff;
}


/* ul li a {
    display: block;
    color: #fff;
}

ul li a:hover {
    color: #fff;
} */

ol li a {
    display: block;
    color: #fff;
    line-height: 0.5rem;
}

ol li a:hover {
    color: #fff;
}

.footer__datos {
    line-height: 5px;
    color: #fff;
    
}

.contacto__encabezado {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 2rem;
    color: #2d9c49;

}

.centro__titulo {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 2rem;
    color: #2d9c49;
}

.institucional__encabezado {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 40px;
        font-weight: 300;
        text-align: center;
        padding-top: 5rem;
        padding-bottom: 4rem;
        color: #2d9c49;
    }

.talleres__encabezado {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 40px;
        font-weight: 300;
        text-align: center;
        padding-top: 5rem;
        padding-bottom: 2rem;
        color: #2d9c49;
}



.grid__container {
    display: grid;
    grid-template-rows: 300px 300px 300px 300px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    background-position: center;
    height: 1400px;


}

.grid__1 {
    grid-row: 1/3;
    grid-column: 1/3;
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; 
    margin: 5px;
    background-image: url(../resources/3.jpg)

}

.grid__2 {
    grid-column: 3/6;
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; 
    margin: 5px;
    background-image: url(../resources/4.jpg);
}

.grid__3 {
    grid-row: 2/4;
    grid-column: 3/6;
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; 
    margin: 5px;
    background-image: url(../resources/talleres2.jpg);
}

.grid__4 {
    grid-row: 3/5;
    grid-column: 1/3;
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; 
    margin: 5px;
    background-image: url(../resources/talleres4.jpg);
}

.grid__5 {
    grid-row: 4;
    grid-column: 3/6;
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; 
    margin: 5px;
    background-image: url(../resources/2.jpg);

}

.grid__talleres {
    display: grid;
    grid-template-rows: 300px 300px 300px 300px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 1400px;
    justify-content: center;
    align-content: center;
    grid-template-areas: "uno uno dos dos dos"
                        "uno uno tres tres tres"
                        "cuatro cuatro tres tres tres"
                        "cuatro cuatro cinco cinco cinco";
    
}

.grid__uno {
    grid-area: uno;
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; 
    margin: 5px;
    background-image: url(../resources/3.jpg)

}

.grid__dos {
    grid-area: dos;
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; 
    margin: 5px;
    background-image: url(../resources/4.jpg);

}

.grid__tres {
    grid-area: tres;
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; 
    margin: 5px;
    background-image: url(../resources/talleres2.jpg);

}

.grid__cuatro {
    grid-area: cuatro;
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; 
    margin: 5px;
    background-image: url(../resources/talleres4.jpg);

}

.grid__cinco {
    grid-area: cinco;
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; 
    margin: 5px;
    background-image: url(../resources/2.jpg);

}

.carrousel {
    /* padding-top: 1rem;
    padding-bottom: 1rem; */
    padding: 5rem;
    padding-bottom: 10rem;
}

.carrousel__titulo {
    font-family: 'Nunito Sans', sans-serif;
    padding: 2rem;
    text-align: center;
    color: #2d9c49;
    font-weight: 600;
}

.carrousel__imagenes {
    max-height: 400px;
    max-width: 600px;
}

.acordeon {
    font-family: 'Nunito Sans', sans-serif;
    padding-top: 5rem;
    padding-bottom: 5rem;
    
}

.formulario__index {
    line-height: 50%;
}

.formulario__contacto {
    padding-top: 5rem;
    padding-left: 10rem;
    padding-bottom: 5rem;
    padding-right: 10rem;

}

.contacto__formulario {
    background-color: #f5f5f5;
    font-family: 'Nunito Sans', sans-serif;
    padding: 5rem;
    

}

.contacto__descripcion {
    font-size: 20px;
    text-align: center;
}